// 刷选条件区域公共样式
.search-container {
    display: flex;
    flex-wrap: wrap;


    .item {
        padding: 0 8px 8px 0;
    }

    .search {
        width: 200px;
    }
}

.pagination-container {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 60px;
}

.dialog-container {
    padding: 8px;
}